<h1>Word Frequency Counter</h1>

<div class="counterContainer">
	<span >
		<label>Frequency ({{word}}) : {{wordfreq}}</label>
    
    <input type="text" [(ngModel)]="word" (ngModelChange)="CalculateFrequencyForWord()" pattern="[A-Za-z]+" />
	</span>
	<span >
		 <label>Frequency greater than</label>
    
    <input type="text" [(ngModel)]="threshold" (ngModelChange)="CalculateMostFrequentNWords()" />
	</span>
	<span >
    <label>Highest Frequency : {{highFreq}}</label>
		<textarea name="inputString" id="inputString" [(ngModel)]="inputString"
            (ngModelChange)="CalculateHighestFrequency()" oncopy="return true;" onpaste="return true;" oncut="return true;">Paste your text content here!</textarea>
  </span>
	<span class="spanlast">
      <div *ngFor="let word of result">
          <div style="display: block;">{{word[0]}} - {{word[1]}}</div>
        </div>
  </span>
</div>


